<div class="card shadow-sm">

    <div class="card-header">
        <h5>ACOMPANHAMENTO DE CONTRATOS</h5>
    </div>

    <div class="container spacement">

        <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="card bloco1 ">
                    60
                    Contratos virgentes
                </div>
                <br>
                <div class="card bloco1">
                    10
                    Contratos vencidos
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="cards2">

                <div class="card border-0">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item table-values">R$ <span>10.000.000,00</span> Em 60 contratos</li>
                        <li class="list-group-item table-values">R$ <span>10.000.000,00</span> Empenhados em 28 contratos</li>
                        <li class="list-group-item table-values">R$ <span>10.000.000,00</span> Liquidados em 23 contratos</li>
                        <li class="list-group-item table-values">R$ <span>10.000.000,00</span> Pagos em 23 contratos</li>
                    </ul>
                </div>

                <br>

                <div class="card border-0 card-green">
                    <p class="text-center ">R$ <span>1.500.000,00</span> Em saldos a empenhar</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 row" id="cards3">
                <div class="col-md-4">
                    <div class="card border-0 text-center">
                        <div class="card-header">
                            Vence em <b>10 dias</b>
                        </div>
                        <div class="card-body box-red">
                            <h1>10</h1>

                            <h6>Contratos</h6>
                        </div>
                        <div class="card-footer">
                            26 ago 2019
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card border-0 text-center">
                        <div class="card-header">
                            Vence em <b>10 dias</b>
                        </div>
                        <div class="card-body box-yellow">
                            <h1>20</h1>

                            <h6>Contratos</h6>
                        </div>
                        <div class="card-footer">
                            05 ago 2019
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card border-0 text-center">
                        <div class="card-header">
                            Vence em <b>10 dias</b>
                        </div>
                        <div class="card-body box-green">
                            <h1>30</h1>

                            <h6>Contratos</h6>
                        </div>
                        <div class="card-footer">
                            10 ago 2019
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>