table {
    width: 100%;
}
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
    
.card-header{
    background-color: white;
}

th{
    color: black;
    font-weight: bold;

}

mat-paginator{
    outline: 0;
}