<section id="tables">

    <div class="card shadow-sm">

        <div class="card-header">
            <h5>DETALHAMENTO DE CONTRATOS</h5>
        </div>

        <table class=" table-hover" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="hashtag">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="numContrato">
                <th mat-header-cell *matHeaderCellDef> Número Contrato </th>
                <td mat-cell *matCellDef="let element"> {{element.numContrato}} </td>
            </ng-container>

            <ng-container matColumnDef="numLicitacao">
                <th mat-header-cell *matHeaderCellDef> Número Licitação </th>
                <td mat-cell *matCellDef="let element"> {{element.numLicitacao}} </td>
            </ng-container>

            <ng-container matColumnDef="modalidade">
                <th mat-header-cell *matHeaderCellDef> Modalidade </th>
                <td mat-cell *matCellDef="let element"> {{element.modalidade}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoContrato">
                <th mat-header-cell *matHeaderCellDef> Tipo Contrato </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoContrato}} </td>
            </ng-container>

            <ng-container matColumnDef="objetoContrato">
                <th mat-header-cell *matHeaderCellDef> Objeto Contrato </th>
                <td mat-cell *matCellDef="let element"> {{element.objetoContrato}} </td>
            </ng-container>

            <ng-container matColumnDef="favorecido">
                <th mat-header-cell *matHeaderCellDef> Favorecido </th>
                <td mat-cell *matCellDef="let element"> {{element.favorecido}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>

    </div>



</section>