<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="hrVertical"></span>
  <span>TESTE FRONTEND</span>
  <span class="spacer"></span>
  <span class="space-items">Carregar mais itens</span>
  <i class="material-icons">
    refresh
  </i>

  <select class="space-items">
    <option disabled>Selecione um Município</option>
    <option>Guarabira</option>
    <option>Mamanguape</option>
    <option>Rio Tinto</option>
  </select>

  <i class="material-icons">
    help
  </i>
  <span class="hrVertical"></span>
  <i class="material-icons">
    settings
  </i>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="#">Acompanhamento de Contratos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    CONTEÚDO
  </mat-sidenav-content>
</mat-sidenav-container>